# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/
.env

# IDE / Editor
.idea/
.vscode/

# Testing
.pytest_cache/
.coverage
tests/

# Documentation
README.md

